.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-content{
  --ion-background-color: #DDDDDD;
}

img.top{
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

img.mid{
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.top{
  display: inline-block; 
}

.mid{
  display: inline-block;
}

#mumi{
  vertical-align: middle;
  
}

#topblock {
  border-radius: 5px;
  background-color: white;
  margin: 20px;
}

#topimage{
  margin: 5px 5px 0 5px;
}

#midimage{
  margin: 5px 5px 0 5px;
}

#toptextblock{
  margin: 0 0 0 0;
  color: red;
  font-size: 30px;
  text-align: center;
}

#middleblock{
  border-radius: 5px;
  background-color: white;
  margin: 20px;
}

#bottomblock{
  border-radius: 10px;
  border: 3px;
  border-style: solid;
  border-color: orange;
  background-color: white;
  margin: 20px;
}

.inline{
  display: inline-block;
}

.pic{
  width: 25px;
  height: 25px;
  vertical-align: middle;
  
}

.ll{
  display: inline-block;
}

ul{
  margin: 0 0 0 20px;
  list-style: none;
  padding-inline-start: 0px;
  padding-inline-end: 20px;
}

li{
  border-top: black 1px dotted;
}

.reminder{
  margin: 10px;
}

.text{
  font-size: 25px;
  vertical-align: middle;  
}

ion-button.bot{
  
  
  
  color: red;  
  --box-shadow:none;
}



.block{
  text-align: center;
  vertical-align: center;
}