<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pag">
  <div id="topblock">
    <div>
      <img src="https://i.imgur.com/uMaMmfP.png" alt="" id="topimage" class="top">
      <p class="top" id="mumi">下次回診：</p>
    </div>
    <div>
      <p id="toptextblock">2020-8-21</p>
    </div>
  </div>
  <div id="middleblock">
    <div>
      <img src="https://i.imgur.com/nDTOxxh.png" alt="" class="src" id="midimage"class="mid">
      <p class="mid" id="mumi">羅醫師的貼心小提醒~~</p>
    </div>
  </div>
</ion-content>