<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pag">
  <div id="topblock">
    <div>
      <img src="https://i.imgur.com/uMaMmfP.png" alt="" id="topimage" class="top">
      <p class="top" id="mumi">下次回診：</p>
    </div>
    <div>
      <p id="toptextblock">2020-8-21</p>
    </div>
  </div>
  <div id="middleblock">
    <div>
      <img src="https://i.imgur.com/nDTOxxh.png" alt="" class="src" id="midimage" class="mid">
      <p class="mid" id="mumi">羅醫師的貼心小提醒~~</p>
    </div>
    <div>
      <ul>
        <li>
          <div class="date ll">6/30</div>
          <p class="reminder ll">
            近期氣溫逐漸升高，請隨時注意……
          </p>
        </li>
        <li>
          <div class="date ll">4/19</div>
          <p class="reminder ll">
            .....................
          </p>
        </li>
        <li>
          <div class="date ll">4/9</div>
          <p class="reminder ll">
            .....................
          </p>
        </li>
        <li>
          <div class="date ll">3/24</div>
          <p class="reminder ll">
            .....................
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div id="bottomblock">
    <img src="https://i.imgur.com/rWuKfDq.png" alt="" class="bot">
    <p class="bot">
      關於乾癬你應該知道的事
    </p>
  </div>
</ion-content>