<ion-header>
  <div class="tool">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref='/tabs/tab1'></ion-back-button>
      </ion-buttons>
      <ion-title>關於乾癬你應該知道的事</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="top">
    <ion-button color='white' href="/recognize" class="bot inline">
      <div class="block">
        <div>
          <img src="https://i.imgur.com/9xyGqtY.png" alt="" class="pic">
        </div>
        <div>
          <p class="text">
            認識乾癬
          </p>
        </div>
      </div>

    </ion-button>
    <div id="blank" class="inline"></div>
    <ion-button color='white' href="/reason" class="bot inline">
      <div class="block">
        <div>
          <img src="https://i.imgur.com/0rRC5Bd.png" alt="" class="pic">
        </div>
        <div>
          <p class="text">
            乾癬生成原因
          </p>
        </div>
      </div>

    </ion-button>
  </div>
  <div class="mid">
    <ion-button color='white' href="/cure" class="spe-bot">
      <div class="block">
        <div>
          <img src="https://i.imgur.com/Rwk0mpR.png" alt="" class="pic">
        </div>
        <div>
          <p class="text">
            乾癬治療方式
          </p>
        </div>
      </div>

    </ion-button>
  </div>
  <div class="bottom">
    <ion-button color='white' href="/care" class="bot inline-bot">
      <div class="block">
        <div>
          <img src="https://i.imgur.com/EP0Alev.png" alt="" class="pic">
        </div>
        <div>
          <p class="text">
            日常生活照顧
          </p>
        </div>
      </div>

    </ion-button>
    <div id="blank" class="inline-bot"></div>
    <ion-button color='white' href="/qa" class="bot inline-bot">
      <div class="block">
        <div>
          <img src="https://i.imgur.com/THbC8Rr.png" alt="" class="pic">
        </div>
        <div>
          <p class="text">
            常見問答集
          </p>
        </div>
      </div>

    </ion-button>
  </div>
</ion-content>